*{

  margin: 0;

  padding: 0;

}

 

body {

  font-family: "Lato", sans-serif;

  background-color: #032CBF;

}

.sidenav {

    height: 100%;

    width: 18vw;

    position: fixed;`


    z-index: 100;

    left: 0;

    transition: 0.6s;

    top: 0;

    background-color: #E1E1DD;

    position: fixed;

    overflow-x: hidden;

    padding-top: 60px;

  }

  

  .sidenav a {

    padding: 8px 8px 8px 32px;

    text-decoration: none;

    font-size: 25px;

    color: #032CBF;

    transition: 0.3s;

    display: block;

  }

  

  

  .sidenav a:hover {

    opacity: 0.9;

  }

  .sidemenudivs:hover{
  background-color: #EFF059;
}


  .sidenav .closebtn {

    position: absolute;

    top: 0;

    right: 25px;

    font-size: 30px;

    margin-left: 50px;

  }

  .gpa{
  width: 75vw;
  height: 5vh;
  /*margin-left: 20vw;*/

  background-color: #E1E1DD;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.headinfo{
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  color: #032CBF;
  margin-left: 40%;

}

.headicons{
  display: inline-block;
  margin-left: 35%;
}

.headicons i{
  color: #032CBF;
}

.openmenu{
  color: #E1E1DD;

}

.rightparthead{
  width: 20vw;
  margin-left: 18vw;
  transition: 0.6s;
  display: flex;
}

.headimg{
  background-image: url(./images/umslogo.png);
  background-size: cover;
  background-color: #032CBF ;
  background-position: center;
  width: 150px;
}

div.container{

    width: 100vw;

}

.lowercontainer{

    width: 70vw;
    height: 50vh;
    margin-left: 2vh;
    margin-top: 2vh;


}

div.container > div.highercontainer{

    height: 70vh;
    width: 100vw;
    margin-left: 20vw;
    width: 75vw;
    border: 1px dotted #E1E1DD;
    border-top: none;
    border-bottom: 1px solid #E1E1DD ;

}


/*div.container > div.highercontainer >  * {

    margin-right: 30vw;

}  */

/*div.container > div.lowercontainer >  * {

    margin-left: 20vw;
    margin-top: 20px;

}  */

table {

    font-family: Arial, Helvetica, sans-serif;

    border-collapse: collapse;

    width: 75vw;


  }

  

   td,  th {

    border: 1px solid #ddd;

    padding: 8px;

  }

  

   tr{background-color: #f2f2f2;}

  

   tr:hover {background-color: #ddd;}

  

   th {

    padding-top: 12px;

    padding-bottom: 12px;

    text-align: left;

    background-color: #EFF059;

    color: #032CBF;

  }


  .title{
    margin-left: 20vw;
    color: #E1E1DD;
  }

  .label{

    font-size: 25px;
    color: #E1E1DD;
  }


  #petitionkind{

    width: 52vw;
    height: 5vh;
    margin-left: 7vw;

  }

  #petitionkind:hover{

    border: 2px solid #EFF059;

  }

  .form-control{

    margin-left: 2vw;

  }



  .form-control:hover{

    border: 2px solid #EFF059;

  }

  button{
    width: 15vw;
    height: 10vh;
    background-color: #EFF059;
    border: none;
    color: #032CBF;
    font-size: 17px;
  }

   button:hover{
    opacity: 0.9;
  }





    @media screen and (max-height: 450px) {

    .sidenav {padding-top: 15px;}

    .sidenav a {font-size: 18px;}

  }